<article class="product-card">
  <a class="product-card__image" [routerLink]="['/catalogo', product.code]">
    <img [src]="product.imageUrl" [alt]="product.name" />

    @if (product.offerLabel) {
      <span class="product-card__badge">{{ product.offerLabel }}</span>
    }
  </a>

  <div class="product-card__body">
    <span class="product-card__category">{{ product.category }}</span>

    <h3>{{ product.name }}</h3>
    <p>{{ product.shortDescription }}</p>

    <div class="product-card__footer">
      @if (canSeeProductPrice()) {
        <div class="product-card__price-wrap">
          @if (product.discountPercent) {
            <div class="product-card__offer-row">
              <span class="product-card__discount-pill">
                -{{ product.discountPercent }}%
              </span>
              <span class="product-card__save-pill">
                Risparmi
                {{ getSavings() | currency: "EUR" : "symbol" : "1.0-0" }}
              </span>
            </div>

            <div class="product-card__offer-price">
              <strong>
                {{
                  getDiscountedPrice() | currency: "EUR" : "symbol" : "1.0-0"
                }}
              </strong>
              <span>
                {{ product.basePrice | currency: "EUR" : "symbol" : "1.0-0" }}
              </span>
            </div>
          } @else {
            <span class="product-card__price">
              Da {{ product.basePrice | currency: "EUR" : "symbol" : "1.0-0" }}
            </span>
          }

          @if (canSeeSupplierPrice()) {
            <span class="product-card__supplier-price">
              Prezzo collaboratore:
              {{ product.supplierPrice | currency: "EUR" : "symbol" : "1.0-0" }}
            </span>
          }
        </div>
      }

      <div class="product-card__actions">
        <button type="button" class="btn-add" (click)="addToConfigurator()">
          Aggiungi
        </button>

        <a class="btn-detail" [routerLink]="['/catalogo', product.code]">
          Dettaglio
        </a>
      </div>
    </div>
  </div>
</article>
