<div class="catalog-configurator">
  <div class="configurator-head">
    <div>
      <span>Configuratore</span>
      <h2>La tua selezione</h2>
    </div>

    <strong>{{ selectedProducts().length }} articoli</strong>
  </div>

  @if (selectedProducts().length > 0) {
    <div class="configurator-items">
      @for (item of selectedProducts(); track item.id) {
        <div class="configurator-item">
          <img [src]="item.imageUrl" [alt]="item.name" />

          <div class="configurator-item__info">
            <strong>{{ item.name }}</strong>
            @if (canSeeProductPrice(item)) {
              <span>
                {{ item.basePrice | currency: "EUR" : "symbol" : "1.0-0" }}
              </span>

              @if (canSeeSupplierPrice(item)) {
                <small>
                  Prezzo collaboratore:
                  {{
                    item.supplierPrice | currency: "EUR" : "symbol" : "1.0-0"
                  }}
                </small>
              }
            }
          </div>

          <button
            type="button"
            class="remove-item"
            aria-label="Rimuovi prodotto"
            (click)="removeProduct(item.id)"
          >
            ×
          </button>
        </div>
      }
    </div>

    <div class="configurator-total">
      @if (canSeeTotal()) {
        <div>
          <span>Totale configurazione</span>
          <strong>{{
            selectedTotal() | currency: "EUR" : "symbol" : "1.0-0"
          }}</strong>
        </div>
      }

      <a routerLink="/richiesta-preventivo" class="view-configuration-btn">
        Vedi configurazione
      </a>
    </div>
  } @else {
    <p class="configurator-empty">
      Aggiungi prodotti dal catalogo per comporre la tua configurazione.
    </p>
  }
</div>
