<div class="catalog-configurator">
  <div class="configurator-head">
    <div>
      <span>Configuratore</span>
      <h2>La tua selezione</h2>
    </div>

    <strong>{{ selectedCount() }} articoli</strong>
  </div>

  @if (groupedSelectedProducts().length > 0) {
    <div class="configurator-items">
      @for (item of groupedSelectedProducts(); track item.product.id) {
        <div class="configurator-item">
          <img [src]="item.product.imageUrl" [alt]="item.product.name" />

          <div class="configurator-item__info">
            <strong>{{ item.product.name }}</strong>
            <small>{{ getQuantityLabel(item) }}</small>
            @if (canSeeProductPrice(item.product)) {
              <span>
                {{ getLineTotal(item) | currency: "EUR" : "symbol" : "1.0-0" }}
              </span>

              @if (canSeeGroupedSupplierPrice(item)) {
                <small>
                  Prezzo collaboratore:
                  {{
                    item.product.supplierPrice
                      | currency: "EUR" : "symbol" : "1.0-0"
                  }}
                </small>
              }
            }
          </div>

          <button
            type="button"
            class="remove-item"
            aria-label="Rimuovi prodotto"
            (click)="removeProduct(item.product.id)"
          >
            ×
          </button>
        </div>
      }
    </div>

    <div class="configurator-total">
      @if (canSeeTotal()) {
        <div>
          <span>Totale configurazione</span>
          <strong>{{
            selectedTotal() | currency: "EUR" : "symbol" : "1.0-0"
          }}</strong>
        </div>
      }

      <a routerLink="/richiesta-preventivo" class="view-configuration-btn">
        Vedi configurazione
      </a>
    </div>
  } @else {
    <p class="configurator-empty">
      Aggiungi prodotti dal catalogo per comporre la tua configurazione.
    </p>
  }
</div>
